////////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 80%;
    margin-bottom: 2rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }

  &--dark-mode {
    margin-left: -3rem;
  }

  &--side {
    flex: 0 0 50%;
    margin-left: 4rem;

    @media only screen and (max-width: $bp-716) {
      margin-left: 1rem;
      flex: 0 0 40%;
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      flex: 0 0 80%;
      margin: 1rem auto;
    }
  }
}

////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  %icon {
    height: 2.25rem;
    width: 2.25rem;
    transition: all 0.5s;
  }

  &__icon {
    @extend %icon;
    fill: var(--color-grey-dark-2);

    &:hover {
      fill: var(--color-primary-dark);
    }
  }

  &__icon--dark-mode {
    @extend %icon;
    fill: var(--color-grey-light-4);

    &:hover {
      fill: var(--color-grey-light-1);
    }
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    transition: all 0.5s;

    &--dark-mode {
      color: var(--color-grey-light-4);
    }
  }

  &__user-name:hover {
    color: var(--color-primary-dark);
  }

  &__user-name--dark-mode:hover {
    color: var(--color-grey-light-1);
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 0.7rem;
  }
}

.user-nav--dark-mode {
  & > *:hover {
    background-color: var(--color-primary-dark);
  }
}

////////////////////////////////////////////////
// SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-716) {
    // display: flex;
    margin-top: 0;
    // flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      // @media only screen and (max-width: $bp-716) {
      //   margin: 0;
      // }
    }

    // @media only screen and (max-width: $bp-716) {
    //   // flex: 1;
    // }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary-dark);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.3s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    // @media only screen and (max-width: $bp-716) {
    //   // justify-content: center;
    // }

    &:hover {
      color: white;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-716) {
      margin-right: 0.1rem;
      margin-left: 0;
    }
  }

  &__text {
    @media only screen and (max-width: $bp-largest) {
      font-size: 90%;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 85%;
    }
    @media only screen and (max-width: $bp-800) {
      font-size: 80%;
    }
    @media only screen and (max-width: $bp-716) {
      display: none;
    }
  }
}

////////////////////////////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

////////////////////////////////////////////////
// BUTTON THEME
.button-theme {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  @media only screen and (max-width: $bp-largest) {
    // display: none;
    margin: 2rem auto;
  }
}
